<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/jdbc_demo?currentSchema=app</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123456@root</property>

        <!-- Show SQL -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Auto DDL: none -->
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <!-- Declare entity -->
        <mapping class="demo.jdbc.model.orm.StudentEntity"/>
    </session-factory>
</hibernate-configuration>